* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
  color: wheat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding-bottom: 60px;
  background: #ff5c18;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 5px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 5px 5px rgba(0,0,0,0);
}

header {
  display: flex;
  align-items: center;
  background: #ec4702;
  padding: 40px 80px;
}

header img {
  height: 160px;
  margin-right: 20px;
}

header span {
  font-size: 1.8em;
  font-weight: bold;
}

footer {
  padding: 60px 80px;
  background: #ec4702;
  font-size: 1.3em;
}

#result {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
}

article {
  padding: 60px 80px 40px;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form .form-group {
  width: 45%;
}

input,
select {
  width: 100%;
  font-size: large;
  padding: 8px 12px;
  margin: 6px 0 20px;
  border-radius: 4px;
  transition: all 0.4s ease;
}

input[type="button"] {
  padding: 14px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #ec4702;
}

@media (max-width: 800px) {
  section {
    margin: 0;
  }
}

@media (max-width: 680px) {
  header {
    padding: 20px;
  }

  header img {
    height: 120px;
  }

  header span {
    font-size: 1.4em;
  }

  footer {
    padding: 40px 20px 60px;
    font-size: 1.1em;
  }

  article {
    padding: 20px;
  }

  .form {
    flex-direction: column;
  }

  .form .form-group {
    width: 100%;
  }
}

@media (max-width: 470px) {
  header img {
    height: 100px;
  }

  header span {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  header img {
    height: 80px;
  }

  header span {
    font-size: 1.1em;
  }
}